target/
.scala_dependencies
.cache
.DS_Store
.settings
.classpath
.project
.springBeans

### Intellij Idea ###
*.ids
*.iml
*.ipr
*.iws
.idea/

output-display-dep-update
working-service
conf/copy-server.xml
conf/copy-catalina-properties
conf/copy-catalina-policy
output*
target/
*.versionsBackup